@charset "UTF-8";
/* 変数まとめ */
:root {
	/* 色管理 */
	--white-color: #fff;
	--black-color: #333333;
	--main-color: #FF002C;
	--primary-color: #FFDD00;
	--kv-shadow: rgba(88, 88, 88, 0.3);
	--shadow: rgba(51, 51, 51, 0.65);

}
:root {
  /* フォント */
	--font: "Noto Sans JP", sans-serif;
	--ttl-font: "Zen Dots", sans-serif;
}
:root {
	/* コンテンツ幅 */
	--content-width-sm: 343px;
	--content-width: 960px;
	--content-width-lg: 1200px;
}
:root {
	/* z-index */
	--z-index-back: -1;
	--z-index-default: 1;
	--z-index-header: 100;
	--z-index-menu: 150;
	--z-index-top: 200;
	--z-index-modal: 300;
}

/* about */


.l_about {
	margin-top: 80px;
}
@media screen and (min-width: 1080px) {
	.l_about {
		margin-top: 120px;
	}
}
.main_visial-ttl {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	position: relative;
}
@media screen and (min-width: 1080px) {
    .main_visial-ttl {
        font-size: 40px;
	}
}

.main_visial-ttl::before {
	content: 'About';
	width: 100%;
	font-family: var(--ttl-font);
	font-size: 64px;
	color: rgba(255, 0, 44, 0.2);
	position: absolute;
	bottom: -25%;
	left: 50%;
	transform: translateX(-50%);
	z-index: var(--z-index-back);
}

@media screen and (min-width: 768px) {
	.main_visial-ttl::before {
		font-size: 80px;
		bottom: -20%;
	}
}
@media screen and (min-width: 1080px) {
	.main_visial-ttl::before {
		bottom: -40%;
		font-size: 128px;
	}
}


/*
vision
*/
.m_vision_wrap {
	margin-top: 120px;
}
@media screen and (min-width: 1080px) {
	.m_vision_wrap {
		margin-top: 160px;
	}
}
.vision_list_wrap {
	margin-top: 80px;
}

@media screen and (min-width: 1080px) {
    .vision_list_wrap {
		margin-top: 120px;
	}
}
.vision_list {
	width: 100vw;
	margin: 0 calc(50% - 50vw);
}
@media screen and (min-width: 1080px) {
	.vision_list {
		display: flex;

	}
}

.vision_items {
	position: relative;
	background-color: #333333;

}
@media screen and (min-width: 1080px) {
	.vision_items {
		width: calc(100% / 3);
	}

}
.vision_item-photo {
	width: 100%;
	height: 200px;
	opacity: 0.4;
	background-size: cover;
	background-position: center ;
	background-repeat: no-repeat;
}

@media screen and (min-width: 1080px) {
	.vision_item-photo {
		width: 100%;
		height: 480px;
	}
	
}

.__delectation {
	background-image: url(../img/KV.jpg);
	filter: blur(3px);
  z-index: -1;
}
.__delectation2 {
	background-image: url(../img/育成.jpg);
	filter: blur(3px);
  z-index: -1;
}
.__delectation3 {
	background-image: url(../img/繋がり.jpg);
	filter: blur(3px);
  z-index: -1;
}

.vision_item-ttl__txt{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: var(--white-color);
	width: 320px;
	text-align: center;
}
@media screen and (min-width: 1080px) {
	.vision_item-ttl__txt {
		width: 360px;
	}
}
.vision_item-ttl {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

@media screen and (min-width: 1080px) {
	.vision_item-ttl {
		font-size: 32px;
	}
}

.vision_item-ttl__sub {
	margin-top: 24px;
}

.staff_wrap {
	width: 100%;
}

.staff_main-image {
	margin: 80px auto;
}

@media screen and (min-width: 1080px) {
    .staff_main-image {
		margin-top: 120px;
	}
}

.staff_introduction {
	margin-top: 80px;
}

@media screen and (min-width: 1080px) {
    .staff_introduction {
		width: 960px;
		margin-top: 120px;
	}
}

.staff_item {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

@media screen and (min-width: 1080px) {
    .staff_item {
		margin-top: 80px;
	}
}

.staff_item:nth-child(even) {
	flex-direction: row-reverse;
}

.staff_item + .staff_item {
	margin-top: 48px;
}

.staff_info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.staff_portrait {
	width: 80px;
}

.staff_name {
	font-weight: bold;
	font-size: 18px;
}

@media screen and (min-width: 1080px) {
    .staff_name {
		font-size: 24px;
	}
}

.staff_txt {
	width: calc(100% - 80px - 16px);
	height: 120px;
	padding: 8px;
	background-color: var(--main-color);
	color: var(--white-color);
	display: flex;
	align-items: center;
	position: relative;
}
@media screen and (min-width: 768px) {
	.staff_txt {
		padding: 16px;
	}
}
.staff_txt__triangle {
	content: "";
	display: block;
	width:0;
	height:0;
	border-style:solid;
	border-width: 12px 20.8px 12px 0;
	border-color: transparent var(--main-color) transparent transparent;
	position: relative;
	left: -27px;
}

.staff_txt__triangle2 {
	content: "";
	display: block;
	width:0;
	height:0;
	border-style:solid;
	border-width: 12px 0 12px 20.8px;
	border-color: transparent transparent transparent var(--main-color);
	position: relative;
	left: 101%;
}

@media screen and (min-width: 1080px) {
    .staff_txt {
		width: 800px;
		height: 90px;
		font-size: 20px;
		justify-content: left;
	}
}

.contact_wrap {
	margin: 120px auto;
}

@media screen and (min-width: 1080px) {
    .contact_wrap {
		margin-top: 160px;
		width: 960px;
	}
}

.contact{
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 1080px) {
    .contact {
		width: 672px;
		height: 84px;
	}
}

.contact_text {
	text-align: center;
}

@media screen and (min-width: 1080px) {
    .contact_text {
		letter-spacing: 0;
	}
}

.contact_sub__txt {
	font-size: 24px;
	background-image: linear-gradient(transparent 50%, rgba(255, 0, 44, 0.5) 0%);
}
@media screen and (min-width: 1080px) {
	.contact_sub__txt {
		font-size: 28px;
	}
}
.contact_info {
	width: 240px;
	height: 160px;
	margin-top: 24px;
	border-radius: 30px;
	background-color: #333333;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 1080px) {
    .contact_info {
		width: 360px;
		height: 240px;
		margin-top: 80px;
	}
}

.contact_info > a {
	margin: 0 auto;
}
.contact_info {
  box-shadow: 8px 8px 0 var(--main-color); 
}
.contact_info:hover {
  transform: translateY(8px);
  box-shadow: none;
	animation: anima-button-30 1s;
}


@keyframes anima-button-30 {
	0% {
			box-shadow: 0 0 0 0 rgba(255, 0, 44, 0.5);
	}
	100% {
			box-shadow: 0 0 0 1.2em rgb(0 0 0 / 0%);
	}
}

.contact_photo {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	opacity: 0.6;
	background-image: url(../img/KV.jpg);
	background-size: 200%;
	background-position: center ;
}

.contact_message {
	width: 100%;
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
	color: var(--white-color);
}

@media screen and (min-width: 1080px) {
    .contact_message {
		font-size: 32px;
	}
}

/* .contact_info2 {
	position: absolute;
	top: 5%;
	left: 3%;
	width: 240px;
	height: 160px;
	border-radius: 30px;
	background-color: var(--main-color);
	z-index: -1;
}
@media screen and (min-width: 1080px) {
	.contact_info2 {
		width: 360px;
		height: 240px;
	}
} */
.__about_page {
	margin-top: 120px;
}

@media screen and (min-width: 1080px) {
    .__about_page {
		margin-top: 200px;
	}
}