@charset "UTF-8";
/* 変数まとめ */
:root {
	/* 色管理 */
	--white-color: #fff;
	--black-color: #333333;
	--main-color: #FF002C;
	--primary-color: #FFDD00;
  --kv-shadow: rgba(88, 88, 88, 0.3);
  --shadow: rgba(51, 51, 51, 0.65);

}
:root {
  /* フォント */
	--font: "Noto Sans JP", sans-serif;
  --ttl-font: "Zen Dots", sans-serif;
}
:root {
	/* コンテンツ幅 */
  --content-width-sm: 343px;
  --content-width: 960px;
  --content-width-lg: 1200px;
}
:root {
	/* z-index */
	--z-index-back: -1;
	--z-index-default: 1;
	--z-index-header: 100;
	--z-index-menu: 150;
	--z-index-top: 200;
	--z-index-modal: 300;
}

.l_contact {
	margin-top: 80px;
}
@media screen and (min-width: 1080px) {
	.l_contact {
		margin-top: 120px;
	}
}
.l_contact__ttl {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 1080px) {
  .l_contact__ttl {
    font-size: 40px;
  }
}
.l_contact__ttl::before {
  content: 'Contact';
  width: 100%;
  font-family: var(--ttl-font);
  font-size: 64px;
  color: rgba(255, 0, 44, 0.2);
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-back);
}
@media screen and (min-width: 1080px) {
  .l_contact__ttl::before {
    bottom: -40%;
    font-size: 128px;
  }
}

.l_contact__txt {
	margin-top: 80px;
}
@media screen and (min-width: 1080px) {
	.l_contact__txt {
    margin-top: 120px;
	}
}

.l_contact-tel__wrap {
  margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
}
@media screen and (min-width: 1080px) {
	.l_contact-tel__wrap {
		margin-top: 120px;
		flex-direction: row;
	}
}
.l_contact-tel__box-wrap {
	font-weight: bold;
	border: solid 1px var(--black-color);
	box-shadow: 4px 4px var(--main-color);
	padding: 16px;
	width: 343px;

}
@media screen and (min-width: 1080px) {
	.l_contact-tel__box-wrap {
		padding: 24px;
		box-shadow: 8px 8px var(--main-color);
		width: 432px;
	}
}
.l_contact-tel__box-txt {
	display: flex;
	align-items: center;
	gap: 16px;
}
@media screen and (min-width: 1080px) {
	.l_contact-tel__box-txt {
		gap: 24px;
	}
}
.l_contact-tel__box-img {
	width: 64px;
}
@media screen and (min-width: 1080px) {
	.l_contact-tel__box-img {
		width: 80px;
	}
}
.l_contact-tel__box-name {
	font-size: 24px;
	font-weight: bold;
}
@media screen and (min-width: 1080px) {
	.l_contact-tel__box-name {
		font-size: 32px;
	}
}
.l_contact-tel__box-num {
	margin-top: 16px;
	font-size: 32px;
	border-bottom: 2px solid var(--main-color);
}