@charset "UTF-8";
/* 変数まとめ */
:root {
	/* 色管理 */
	--white-color: #fff;
	--black-color: #333333;
	--main-color: #FF002C;
	--primary-color: #FFDD00;
  --kv-shadow: rgba(88, 88, 88, 0.3);
  --shadow: rgba(51, 51, 51, 0.65);
}
:root {
  /* フォント */
	--font: "Noto Sans JP", sans-serif;
  --ttl-font: "Zen Dots", sans-serif;
}
:root {
	/* コンテンツ幅 */
  --content-width-sm: 343px;
  --content-width: 960px;
  --content-width-lg: 1200px;
}
:root {
	/* z-index */
	--z-index-back: -1;
	--z-index-default: 1;
	--z-index-header: 100;
	--z-index-menu: 150;
	--z-index-top: 200;
	--z-index-modal: 300;
}

/* 全体 */
body{
  font-family: "Noto Sans JP", sans-serif;
  color: var(--black-color);
  line-height: 1.7;
}
@media screen and (min-width: 1080px) {
  body {
		font-size: 18px;
	}
}

/*コンテンツ幅の設定*/
.l_container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  max-width: calc(var(--content-width) + 160px);
}
.l_contents {
  padding: 120px 0;
}
@media screen and (min-width: 768px) {
  .l_container {
    padding: 0 80px;
  }
}
@media screen and (min-width: 1080px) {
  .l_contents {
    padding: 200px 0;
  }
}
/* ローディング */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: var(--white-color);
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
}
.box{
    width: 200px;
    margin: 60% auto;
}
@media screen and (min-width: 1080px) {
  .box {
    margin: 10% auto;
  }
}

/*ボール---------------*/
.ball {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	padding: 0;
	background: rgba(255, 221, 0, 0.2);
	width: 50px;
	height: 50px;
	border-radius: 100px;
	box-sizing: border-box;
	animation: 0.7s cubic-bezier(.662,.115,.88,.1) infinite alternate;
}
@media screen and (min-width: 768px) {
  .ball {
    width: 100px;
    height: 100px;
  }
}
.ball { animation-name: bound; }
@keyframes bound {
	from  { transform: translateY(0vw) scale(1,1); }
	10%  { transform: translateY(0.2vw) scale(1,1); }
	20%  { transform: translateY(0.5vw) scale(1,1); }
	96%  { transform: translateY(26vw) scale(1,1); }
	97%  { transform: translateY(28vw) scale(0.9,1); }
	98%  { transform: translateY(29vw) scale(0.9,0.8); }
	99%  { transform: translateY(29.7vw) scale(1,0.5); }
	to { transform: translateY(30vw) scale(1,0.5); }
}
/*影---------------*/
.shadow-box{
	position: relative;
	top: 25vw;
	margin: 0 auto;
	width: 50px;
	height: 10px;
	background-color: var(--shadow);
	border-radius: 50%;
	filter: blur(3px);
	animation: 0.7s ease-in infinite alternate;
}
@media screen and (min-width: 768px) {
  .shadow-box {
    width: 100px;
    height: 20px;
  }
}
.shadow-box{animation-name: shadow-black;}
@keyframes shadow-black {
	from  { transform: scale(1,1); opacity: 0.3;}
	10%  { transform: scale(1,1); opacity: 0.3;}
	90% { transform: scale(0.8,0.8); }
	95% { transform: scale(0.5,0.5); opacity: 0.8; }
	99% { transform: scale(0.2,0.2); opacity: 0; }
	to { transform: scale(0.2,0.2); opacity: 0; }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/* お問い合わせボタン */
.u_contact__link{
  position: fixed;
  bottom: 20%;
  right: 30%;
  z-index: var(--z-index-modal);
  transform: translate(80%, 80%);
}
@media screen and (min-width: 768px) {
  .u_contact__link {
    bottom: 200px;
  }
}
@media screen and (min-width: 1080px) {
  .u_contact__link{
    bottom: 200px;
    right: 200px;
  }
}
.u_contact-btn{
  position: relative;
  height: 100px;
  width: 100px;
}
@media screen and (min-width: 768px) {
  .u_contact-btn{
    height: 200px;
    width: 200px;
  }
}
.u_contact-btn__circle{
  animation: rotate 15s linear infinite;
}
.u_contact-btn__img{
  background-image: url(../img/お問い合わせ.png);
  background-size: cover;
  height: 56px;
  width: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease .4s;
}
@media screen and (min-width: 768px) {
  .u_contact-btn__img{
    height: 100px;
    width: 100px;
  }
}
.u_contact-btn__img:hover {
  background-image: url(../img/お問い合わせ黄.png);
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ヘッダー */
.l_header {
  background-color: var(--white-color);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-header);
  box-shadow: 0 5px 10px var(--kv-shadow);
}
@media screen and (min-width: 1080px) {
  .l_header {
    height: 120px;
  }
}
.l_header__top-color {
  height: 6px;
  background-color: var(--main-color);
}
.l_header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .l_header__wrap {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1080px) {
  .l_header__wrap {
    padding: 24px 80px;
  }
}

.l_header__logo {
  width: 48px;
}
@media screen and (min-width: 1080px) {
  .l_header__logo {
    width: 80px;
    margin-top: 0;
  }
}
.l_header__nav {
  background: var(--main-color);
  transform: translateX(200%);
  width: 100vw;
  height: 100vh;
  transition: ease .4s;
  position: fixed;
  top: 0;
  bottom: 0;
}
@media screen and (min-width: 1080px) {
  .l_header__nav {
    background: none;
    transform: none;
    height: 100%;
    position: static;
  }
}
.l_header__nav-list {
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 40px;
}
@media screen and (min-width: 768px) {
  .l_header__nav-list {
    font-size: 24px;
    padding: 80px 80px;
  }
}
@media screen and (min-width: 1080px) {
  .l_header__nav-list {
    color: var(--main-color);
    flex-direction: row;
    justify-content: end;
    gap: 40px;
    padding: 16px 0;
  }
}
.l_header__nav-item {
    padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .l_header__nav-item {
    padding: 32px 0;
  }
}
@media screen and (min-width: 1080px) {
  .l_header__nav-item {
    padding: 0;
  }
}

/* ハンバーガーメニュー */
.l_header__hamburger {
  width: 32px;
  height: 32px;
  padding: 8px;
}
.l_header__hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: var(--z-index-menu);
}
@media screen and (min-width: 1080px) {
  .l_header__hamburger {
    display: none;
  }
}
.l_header__hamburger span {
  width: 16px;
  height: 2px;
  background-color: var(--main-color);
  position: relative;
  transition: ease .4s;
  display: block;
}
.l_header__hamburger span:nth-child(1) {
  top: 0;
}
.l_header__hamburger span:nth-child(2) {
  margin: 4px 0;
}
.l_header__hamburger span:nth-child(3) {
  top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.u_contact-btn__img.active {
  background-image: url(../img/お問い合わせ白.png);
}
.l_header__nav.active {
  transform: translateX(20%);
}
.l_header__hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
  background: var(--white-color);
}
.l_header__hamburger.active span:nth-child(2) {
  opacity: 0;
}
.l_header__hamburger.active span:nth-child(3) {
  transform: translateY(-4px) rotate(45deg);
  background: var(--white-color);
}

/* ☆共通デザイン☆ */
/* 改行 */
@media screen and (min-width: 768px) {
  .u_new-line {
    display: none;
  }
}

/* セクションタイトル */
.m_section-ttl__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.m_section-ttl__img {
  height: 40px;
  width: 40px;
  background-image: url(../img/テニスラケット.png);
  background-size: cover;
}
@media screen and (min-width: 1080px) {
  .m_section-ttl__img {
    height: 80px;
    width: 80px;
  }
}
.m_section-ttl__sub {
  font-weight: bold;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .m_section-ttl__sub {
    font-size: 20px;
  }
}
.m_section-ttl {
  font-family: var(--ttl-font);
  color: var(--main-color);
  font-size: 33px;
  position: relative;
}
@media screen and (min-width: 1080px) {
  .m_section-ttl {
    font-size: 56px;
  }
}
.m_section-ttl::after {
  content: '';
  height: 4px;
  width: 80px;
  background: var(--primary-color);
  position: absolute;
  bottom: -4px;
  left: 28%;
}
@media screen and (min-width: 1080px) {
  .m_section-ttl::after {
    height: 8px;
    width: 200px;
    bottom: -8px;
    left: 20%;
  }
}

/* 下層セクションタイトル */
.m_section-subttl__wrap {
  display: flex;
  align-items: center;
}
.m_section-subttl {
  font-family: var(--ttl-font);
  color: var(--main-color);
  font-size: 33px;
}
@media screen and (min-width: 768px) {
  .m_section-subttl {
    font-size: 56px;
  }
}
.m_section-subttl__var {
  height: 4px;
  width: 85%;
  margin-left: 40px;
  max-width: 1000px;
  background: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .m_section-subttl__var {
    width: 100%;
    right: 80px;
    width: 90%;
  }
}
@media screen and (min-width: 1080px) {
  .m_section-subttl__var {
    height: 8px;
    margin-left: 80px;

  }
}

/* ページタイトル */
.m_page-ttl {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 1080px) {
  .m_page-ttl {
    font-size: 40px;
  }
}
.m_page-ttl::before {
  content: 'About';
  width: 100%;
  font-family: var(--ttl-font);
  font-size: 64px;
  color: rgba(255, 0, 44, 0.2);
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-back);
}
@media screen and (min-width: 1080px) {
  .m_page-ttl::before {
    bottom: -40%;
    font-size: 128px;
  }
}

/* リンクボタン */
.m_link-btn__wrap {
  display: flex;
  align-items: center;
  margin-top: 40px;
  background: var(--main-color);
  border-radius: 30px; 
  width: 160px;
  height: 40px;
  text-align-last: left;
  box-shadow: 2px 4px var(--kv-shadow);
  padding: 8px 24px;
}
@media screen and (min-width: 1080px) {
  .m_link-btn__wrap {
    margin-top: 120px;
  }
}
.m_link-btn__wrap:hover {
  transform: translateY(4px);
  box-shadow: none;
  background: var(--primary-color);
}
.m_link-btn {
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.m_link-btn::after {
  content: '';
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--white-color);
  border-right: 2px solid var(--white-color);
  position: absolute;
  top: 50%;
  right: -24px;
  transform: translateY(-50%) rotate(45deg);
}

/* トップへ戻る */
.m_top-btn__wrap {
  margin-top: 120px;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1080px) {
  .m_top-btn__wrap {
    margin-top: 200px;
    gap: 16px;
  }
}
.m_top-btn__triangle {
  display: block;
  width:0;
  height:0;
  border-style:solid;
  border-width: 12px 20.8px 12px 0;
  border-color: transparent var(--main-color) transparent transparent;
}
@media screen and (min-width: 1080px) {
  .m_top-btn__triangle {
    border-width: 16px 27.7px 16px 0;
  }
}
.m_top-btn {
  font-weight: bold;
}
.m_top-btn:hover {
  color: var(--main-color);
}
@media screen and (min-width: 1080px) {
  .m_top-btn {
    font-size: 20px;
  }
}

/* フッター */
.l_footer {
  background: var(--main-color);
  font-weight: bold;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
@media screen and (min-width: 1080px) {
  .l_footer {
    height: 80px;
  }
}

/* ☆トップページ☆ */
/* KV */
.l_kv {
  height: 100vh;
  background: linear-gradient(var(--kv-shadow), var(--kv-shadow)),
    url(../img/KV.jpg) center center / cover;
  z-index: var(--z-index-back);
  position: relative;
}
.l_kv__ttl-img {
  position: absolute;
  z-index: var(--z-index-default);
  width: 240px;
  bottom: 15%;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .l_kv__ttl-img {
    width: 600px;
    margin-left: 40px;
  }
}

/* お知らせ */
.l_top-info__x {
  border: 1px solid var(--main-color);
  border-radius: 20px;
  padding: 10px;
  margin-top: 40px;
}
@media screen and (min-width: 1080px) {
  .l_top-info__x {
    margin-top: 120px;
  }
}
.l_top-info__link {
  margin-left: auto;
  margin-right: auto;
}

/* About */
.l_top-about{
  color: var(--white-color);
  text-shadow: 4px 4px 4px var(--shadow);
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  position: relative;
  z-index: 0;
}
.l_top-about:before {
  content: '';
  background-image: linear-gradient(var(--shadow),var(--shadow)),url('../img/チーム紹介.jpg') ;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  z-index: -1;
}
@media screen and (min-width: 1080px) {
  .l_top-about:before {
    background-size: cover;
  }
}
.l_top-about__wrap {
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  max-width: calc(960px + 160px);
}
@media screen and (min-width: 768px) {
  .l_top-about__wrap {
    padding: 0 80px;
  }
}
.l_top-about__ttl {
  display: inline;
  font-size: 24px;
  font-weight: bold;
  background-image: linear-gradient(transparent 50%, rgba(255, 0, 44, 0.5) 0%);
}
@media screen and (min-width: 1080px) {
  .l_top-about__ttl {
    font-size: 36px;
  }
}
.l_top-about__txt {
  margin-top: 40px;
}
@media screen and (min-width: 1080px) {
  .l_top-about__txt {
    margin-top: 80px;
  }
}
.l_top-about__accent-txt {
  font-size: 24px;
  font-weight: bold;
  margin-top: 80px;
}
@media screen and (min-width: 1080px) {
  .l_top-about__accent-txt {
    font-size: 36px;
    margin-top: 120px;
  }
}

/* 新規加入 */
@media screen and (min-width: 1080px) {
  .l_top-member {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }
}
@media screen and (min-width: 1080px) {
  .l_top-member__wrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 80px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1080px) {
  .l_top-member__txt-wrap {
    width: calc(100% - 560px - 80px);
  }
}

.l_top-member__txt {
  margin-top: 40px;
}
@media screen and (min-width: 1080px) {
  .l_top-member__txt {
    margin-top: 80px;
  }
}
.l_top-member__link {
  margin-left: auto;
  margin-right: auto;
}
.l_top-member__img-wrap {
  margin-top: 40px;
  height: 320px;
  position: relative;
  width: 343px;
  filter: blur(1px);
}
@media screen and (min-width: 768px) {
  .l_top-member__img-wrap {
    width: 560px;
    height: 630px;
    margin-left: auto;
    margin-right: auto;
  }
}
.l_top-member__img1 {
  position: absolute;
  z-index: var(--z-index-back);
  width: 180px;
  right: 0;
}
@media screen and (min-width: 768px) {
  .l_top-member__img1 {
    width: 360px;
  }
}
.l_top-member__img2 {
  position: absolute;
  width: 200px;
  top: 160px;
}
@media screen and (min-width: 768px) {
  .l_top-member__img2 {
    width: 400px;
    top: 320px;
  }
}